.profile-container {
    max-width: 460px;
    margin: 0 auto;
    text-align: center;
    font-family: Arial, sans-serif;
}

.profile-container .wrap-img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    background: #e4e6e7;
    margin: 3rem auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.profile-container .wrap-img img {
    width: 70px;
    height: 70px;
}

.profile-table {
    width: 100%;
    border-collapse: collapse;
    font-size: 14px;
}

.profile-table th,
.profile-table td {
    padding: 8px;
    border: 1px solid #ddd;
    text-align: left;
}

.profile-table th {
    width: 10rem;
}